// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.placeHolder{
    display: flex;
    align-items: center;
    justify-content: center;
}
