@import 'variables';

.headerContainer {
    width: 100%;
    min-height: 80px;
    border-bottom: 2px solid $green-yellow;
    background-color: white;
    font-size: 20px;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}
.headerLogo{
    margin-right: auto;
    height: 80px;
    align-self: flex-start;
    justify-self: flex-start;
}
.generalLink{
    align-self: flex-end;
    margin: inherit;
    padding: 25px;
    color: black;
}
.generalLink:hover{
    text-decoration: none;
    color: $dark-grey;
}
.loginLink{
    color: $green-yellow;
    padding: 25px;
    height: 80px;
    text-align: center;
}
.loginLink:hover{
    text-decoration: none;
    color: $dark-grey;
}
.joinLink{
    text-align: center;
    border-radius: 10px;
    height: 80px;
    color: white;
    background-color: $green-yellow;
    padding: 25px;
}
.joinLink:hover {
    text-decoration: none;
    background-color: $dark-grey;
    color: $green-yellow;
}
